<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-5">


	<!-- Top row with form-->
	<div class="row m-3">
		<div class="col-4 home-icons" style="text-align:center;padding-top: 1rem;">
			<a href="/pos/ui/brands" title="Brands"> <img style="width:40%" src="/pos/static/assets/brands_icon.png"> </a>
			<p style="margin-top:1rem">Brands</p>
		</div>
		<div class="col-4 home-icons" style="text-align:center;padding-top: 1rem;">
			<a href="/pos/ui/products" title="Products"> <img style="width:40%" src="/pos/static/assets/products_icon.png"> </a>
			<p style="margin-top:1rem">Products</p>
		</div>
		<div class="col-4 home-icons" style="text-align:center;padding-top: 1rem;">
			<a href="/pos/ui/orders" title="Orders"> <img style="width:40%" src="/pos/static/assets/orders_icon.png"> </a>
			<p style="margin-top:1rem;">Orders</p>
		</div>
	</div>
	<div class="row m-3">
		<div class="col-4 home-icons" style="text-align:center;padding-top: 1rem;">
			<a href="/pos/ui/inventory" title="Inventory"> <img style="width:40%" src="/pos/static/assets/inventory_icon.png"> </a>
			<p style="margin-top:1rem">Inventory</p>
		</div>
		<div class="col-4 ml-1 home-icons" style="text-align:center;padding-top: 1rem;">
			<a href="/pos/ui/reports" title="Reports"> <img style="width:40%" src="/pos/static/assets/report_icon.png"> </a>
			<p style="margin-top:1rem;">Reports</p>
		</div>

	</div>




</div>

<footer th:replace="snippets.html :: name_footer"></footer>
<script>
	$("#navbar-page-links").hide();
</script>

</body>	

</html>